.Xauthority
.anaconda/
.bash_history
.bash_logout
.bashrc
.cache/
.cargo/
.conda/
.condarc
.config/
.continuum/
.dotnet/
.eclipse/
.gitconfig
.gnome/
.gtkrc-2.0
.gtkrc-xfce
.icons/
.ipython/
.lesshst
.linuxmint/
.local/
.mozilla/
.p2/
.pki/
.profile
.redhat/
.rustup/
.sqlsecrets/
.ssh/
.sudo_as_admin_successful
.swt/
.tcshrc
.var/
.vscode-insiders/
.vscode/
.xonshrc
.xsession-errors
.xsession-errors.old
.zshrc
Anaconda3-2025.06-0-Linux-x86_64.sh
Documentos/
Downloads/
anaconda3/
eclipse/
"\303\201rea de trabalho/"
